@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #FAF9FE;
    color: #333;
}

header {
    width: 100%;
    background: #0077b6;
}

nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
    width: 90%;
}

.logo {
    color: #fff;
    font-size: 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 28px;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    color: #ffd60a;
}

.username{
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 40px;
    background: #ffd60a;
    text-align: center;
    cursor: pointer;
}