@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #FAF9FE;
    color: #333;
}

img {
    width: 100%;
    display: block;
}

/* header */

header {
    width: 100%;
    background: #0077b6;
}

.navbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
    width: 90%;
}

.logo {
    color: #fff;
    font-size: 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f7d111;
}

.username {
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 40px;
    background: #f7d111;
    text-align: center;
    cursor: pointer;
}

/* hero section */

.hero {
    width: 90%;
    margin: 62px auto;
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
    align-items: center;
}

.hero-text h1 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 20px;
}

.hero-text span {
    color: #0077b6;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 50px;
}

.btn {
    background: #0077b6;
    text-decoration: none;
    color: #fff;
    padding: 15px 40px;
    border-radius: 40px;
    transition: 0.3s;
}

.btn:hover {
    background: #005b8c;
}

.hero-img img {
    border-radius: 15px;
}

/* overview section */

.overview-section {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    padding: 40px 20px;
    background-color: #0077b6;
    color: #fff;
    align-items: center;
}

.overview-section h2 {
    text-align: center;
    font-size: 2rem;
}


.overview-section div {
    align-items: center;
    text-align: center;
}

.overview-section div h3 {
    font-size: 1.5rem;
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        align-items: center;
        justify-content: center;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .overview-section {
        flex-direction: column;
        gap: 20px;
    }

}